# Arquivos e pastas padrão do Game Maker a serem ignorados
*.yy
*.yyp
*.yyl

# Pastas de cache e arquivos temporários
.cache/
.idea/

# Arquivos de configuração local
options.*

# Arquivos de backup
*.yy.bak
*.yyp.bak

# Pasta de builds
build/

# MacOS
.DS_Store